*{
  margin: 0;
  padding: 0;
}

.togglerInsideBtn{
  width:100%;
  margin:5px 0;
}



.callNowNav{
  position: relative;
  overflow: hidden;
}



.callNowNavRippleEffect{
  background-color: black;
  position: absolute;
  border-radius: 50%;
}

.callNowNavRippleEffect.callNowNavActive{
  width: 1px;
  height: 1px;
  animation: callNowNavRippleEffect 2s ease infinite;
}

@keyframes callNowNavRippleEffect{
  0%{
    opacity:0.5;
    transform: scale(0);
  }
  100%{
    opacity:0.8;
    transform: scale(280);
  }
}

.whatsappNav{
  position: relative;
  overflow: hidden;
}

.whatsappNavRippleEffect{
  background-color: #FDBA2F;
  position: absolute;
  border-radius: 50%;
}

.whatsappNavRippleEffect.whatsappNavActive{
  width: 1px;
  height: 1px;
  animation: whatsappNavRippleEffect 2s ease infinite;
}

@keyframes whatsappNavRippleEffect{
  0%{
    opacity:0.5;
    transform: scale(0);
  }
  100%{
    opacity:0.8;
    transform: scale(280);
  }
}

